<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new Pokemon:</h3>
<form id="addpokemon" action="/pokemon" method="post">
  Pokemon No: <input type="text" name="p_no"><br>
  Pokemon Name: <input type="text" name="p_name"><br>
  Catch Rate: <input type="number" step = "0.01" name="p_catchrate"><br>
  <input type="submit" value="Submit">
</form>
<br />

<h3>Current Pokemon:</h3>
<table id ="pokemonTable">
  <thead>
    <th>Pokemon ID</th>
    <th>Pokemon No</th>
    <th>Pokemon Name</th>
    <th>Catch Rate</th>
  </thead>
  <tbody>
    {{#each pokemon}}
    <tr>
      <td>{{this.p_id}}</td>
      <td>{{this.p_no}}</td>
      <td>{{this.p_name}}</td>
      <td>{{this.p_catchrate}}</td>
      <td><form method = "get" action = "./edit"><input type = "hidden" name = "id" value = {{this.p_id}}>
      <button type = "submit">Update</button></form>
      </td>
      <td><input type = "button" name={{this.p_id}} id = "delete" value = "Delete" onClick ="deleteRow(this, {{this.p_id}})"></input>
    </tr>
    {{/each}}
  </tbody>
</table>

<script>
  function deleteRow(row, id){
    var req = new XMLHttpRequest();
    var url = '/pokemon/delete?p_id=' + id;
    req.open('DELETE', url);
    req.send();
    var i=row.parentNode.parentNode.rowIndex;
    document.getElementById('pokemonTable').deleteRow(i);
    /*
    success: function(result){
      window.location.reload(true);
    }
    */
  }
</script>




</html>